<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
     
        <div class="flex justify-center mb-6">
            <img src="../../../assets/img/EAgua_1.png" alt="Sistema de Gestão de Água" class="h-16">
        </div>
        <form [formGroup]="loginForm">
            <div class="mb-4">
                <label for="userName" class="block text-gray-700 text-sm font-bold mb-2">
                    Email
                </label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                         
                    </span>
                    <input type="text" id="userName" formControlName="userName"
                        class="block w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                        placeholder="Utilizador" />
                </div>

            </div>
 
            <div class="mb-6">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">
                    Senha
                </label>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                         
                    </span>
                    <input type="password" id="password" formControlName="password"
                        class="block w-full pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
                        placeholder="Insira sua senha" />
                </div> 
            </div>
           @if (passNotValid) {
            <div class="text-red-500 text-xs mt-1">
                As credenciais inseridas nao sao válidas. 
            </div>
           }

            <!-- Login Button -->
            <div class="flex items-center justify-between">
                <button [disabled]="loginForm.invalid" (click)="onSubmit()" 
                    class="w-full bg-blue-600 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</div>