<div class="flex flex-col gap-4 p-4 dark:bg-medium-dark dark:text-primary-dark-text transition duration-300">
  <app-breadcrumb title="Registar Novo Cliente" [breadcrumbItems]="['Dashboard', 'Registar Cliente']"></app-breadcrumb>

  <div class="bg-light-mode dark:bg-deep-dark w-full min-h-[60vh] h-full rounded-lg shadow-md p-4">
    <ng-container *ngIf="(isClientSaving$ | async) || (isZonesLoading$ | async)">
      <div class="flex flex-col justify-center my-4 gap-1">
        <app-loading-spinner></app-loading-spinner>
        <span class="flex justify-center text-sm">
          <ng-container *ngIf="(isClientSaving$ | async); else loadingData">
            Salvando dados do cliente
          </ng-container>
          <ng-template #loadingData>
            Carregando dados
          </ng-template>
        </span>
      </div>
    </ng-container>

    <div *ngIf="errorMessage$ | async as errorMessage" class="p-4 flex  justify-center">
      <p class="text-red-500">
        {{ errorMessage ? 'Ocorreu um erro no servidor. Por favor, tente novamente mais tarde.' : '' }}
      </p>
    </div>

    <div class="bg-light-mode dark:bg-deep-dark w-full h-full rounded-md shadow-md">
      <form [formGroup]="clientForm" class=" py-4 dark:bg-deep-dark ">
        <div class="flex flex-col lg:flex-row w-full p-4 gap-4 items-center ">
          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Nome</label>
            <input type="text" formControlName="name"
              class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
          </div>
          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Nuit</label>
            <input type="text" formControlName="nuit" #nuit (input)="onNumberInputChange(nuit)"
              class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
          </div>
          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Contacto</label>
            <div class="w-full flex">
              <span
                class="p-2.5 border border-gray-300 text-deep-dark dark:text-light-mode font-medium bg-light-mode dark:bg-slate-500 text-sm rounded-l-lg ">+258</span>
              <input type="text" formControlName="phoneNumber" #telefone (input)="onNumberInputChange(telefone)"
                class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-r-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
            </div>
          </div>


        </div>
        <div class="flex flex-col lg:flex-row w-full p-4 gap-4 items-center ">
          <div class="w-full">
            <app-custom-select formControlName="zoneId" label="Zona" [options]="zoneData"
              (selectedValueChange)="onEnterpriseSelect($event)">
            </app-custom-select>
          </div>
          <div class="w-full">
            <app-custom-select formControlName="contractTypeId" label="Tipo de Contrato" [options]="contractTypeData"
              (selectedValueChange)="onEnterpriseSelect($event)">
            </app-custom-select>
          </div>
          <div class="w-full">
            <app-custom-drop-down formControlName="startMonth" label="Mês de Início" [options]="monthsData"
              (selectionChange)="onMonthSelect($event)">
            </app-custom-drop-down>
          </div>
        </div>
        <div class="flex flex-col lg:flex-row w-full p-4 gap-4 items-center ">
          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Endereço</label>
            <input type="text" formControlName="address"
              class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
          </div>
          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Observação</label>
            <input type="text" formControlName="notes"
              class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
          </div>
          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Marca do Contador</label>
            <input type="text" formControlName="brand"
              class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
          </div>

          <div class="w-full">
            <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Metros Cúbicos</label>
            <input type="text" formControlName="cubicMeters" #cubicMeters (input)="onNumberInputChange(cubicMeters)"
              class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />
          </div>


        </div>
        <div class="p-4">
          <button (click)="toggleAccordion()"
            class="w-full flex justify-between items-center border text-deep-dark dark:text-light-mode p-3 rounded-lg focus:outline-none">
            <span class="font-semibold">Ver Informações Sobre as Opções</span>
            <svg *ngIf="!isAccordionOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
            <svg *ngIf="isAccordionOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 15l-7-7-7 7" />
            </svg>
          </button>

          <div *ngIf="isAccordionOpen" class="p-4">
            <p class="mb-4 text-blue-700">
              Leia atentamente cada uma das opções abaixo para entender como elas podem impactar a experiência do
              cliente com o
              serviço.
            </p>

            <ul class="list-disc p-4 text-gray-700">
              <li class="mb-3">
                <strong>Isento de Multas:</strong> O cliente é isento de penalidades por atrasos no pagamento.
              </li>
              <li class="mb-3">
                <strong>Receber Recibo:</strong> O cliente passará a receber recibos após cada transação.
              </li>
              <li class="mb-3">
                <strong>Receber Factura:</strong> O cliente passará a receber faturas detalhadas mensalmente.
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-col md:flex-row w-full p-4 gap-4 items-center ">
          <div class="w-full">

            <app-checkbox formControlName="exemptFromFines" label="Isento de Multas"
              (checkedChange)="onCheckboxValueChange('isentoDeMultas', $event)"></app-checkbox>
          </div>
          <div class="w-full">

            <app-checkbox formControlName="receiveReceipt" label="Receber Recibo"
              (checkedChange)="onCheckboxValueChange('receberRecibo', $event)"></app-checkbox>
          </div>
          <div class="w-full">

            <app-checkbox formControlName="receiveInvoice" label="Receber Factura"
              (checkedChange)="onCheckboxValueChange('receberFactura', $event)"></app-checkbox>
          </div>


        </div>
      </form>
      <div class="flex items-center justify-end p-4">
        <button (click)="saveClient()"
          class="bg-indigo-600 w-1/5 text-white font-bold py-2 px-4 rounded hover:bg-indigo-700 focus:outline-none focus:shadow-outline"
          [disabled]="(isClientSaving$ | async) || clientForm.invalid">
          Submeter
        </button>
      </div>
    </div>
  </div>