<div class="flex flex-col gap-4 p-4 dark:bg-medium-dark dark:text-primary-dark-text transition duration-300">
  <app-breadcrumb title="Registar Novo Pagamento" [breadcrumbItems]="['Dashboard', 'Registar Pagamento']">
  </app-breadcrumb>

  <div class="bg-light-mode dark:bg-deep-dark w-full h-full rounded-md shadow-md p-4">
    <ng-container *ngIf="(isClientLoading$ | async) || (isInvoiceLoading$ | async) || (isContractLoading$ | async)">
      <div class="flex flex-col justify-center my-4 gap-1">
        <app-loading-spinner></app-loading-spinner>
        <span class="flex justify-center text-sm">
          <ng-container *ngIf="(isReceiptSaving$ | async); else loadingData">
            Salvando o pagamento
          </ng-container>
          <ng-template #loadingData>
            Carregando dados
          </ng-template>
        </span>
      </div>
    </ng-container>

    <div class="flex flex-col sm:flex-row w-full p-4 gap-4 items-center ">
      <div class="w-full">
        <app-autocomplete-input
          label="Empresa" 
          [dataSource]="enterpriseData"
          (valueSelected)="onValueSelected($event)">
        </app-autocomplete-input>
      </div>
      

      <div class="w-full">
        <app-autocomplete-input label="Zona" [dataSource]="zoneData"
        (valueSelected)="onEnterpriseSelect($event)">
        </app-autocomplete-input>
      </div>
      <div class="w-full">
        <app-autocomplete-input label="Cliente" [dataSource]="clientData"
        (valueSelected)="onClientSelected($event)">
        </app-autocomplete-input>
      </div>
    </div>

    <div class="flex gap-4 p-6 shadow-md rounded-lg">
      <div class="flex flex-col w-1/3 gap-3 px-3">
        <label class="font-semibold text-sm">Ano Económico</label>
        <input type="text" [value]="currentYear"
          class="w-full p-2 border rounded-lg border-none text-gray-700 dark:bg-slate-500 dark:text-light-mode"
          disabled>
      </div>

      <div class="flex flex-col w-1/3 gap-3 px-3">
        <label class="font-semibold text-sm">Data do Pagamento</label>
        <span
          class="w-full p-2 border rounded-lg border-none bg-gray-100 text-gray-700 dark:bg-slate-500 dark:text-light-mode">{{currentDate}}</span>

      </div>

      <div class="flex flex-col w-1/3 gap-1 px-3">
        <label class="font-semibold text-sm">Contador</label>
        <app-autocomplete-input
              [dataSource]="contractsData"
              [placeholder]="counter"
          (valueSelected)="onContractSelected($event)"> 
          </app-autocomplete-input>

      </div>

    </div>

    <div class="p-6 border-y" *ngIf="invoicesData.length > 0">
      <label class="font-semibold text-lg mb-2 block py-1 px-3">
        Lista de Faturas
      </label>
      <div  class="grid grid-cols-2 px-6  w-full">

        <app-search-input  (searchChange)="filterInvoices($event)"></app-search-input>
        <div class="flex justify-center items-center"><span>* Seleccione a factura a pagar</span></div>
    </div>
      <app-table [data]="filteredInvoices" [columns]="invoiceColumns" [totalCount]="filteredInvoices.length"
        (rowClick)="addInvoiceToPayment($event)">
      </app-table>
    </div>

    <div class="p-6" *ngIf="invoicesToBePaid.length > 0">
      <label class="font-semibold text-lg mb-2 block py-1 px-3">
        Faturas a Serem Pagas
      </label>
      <app-table [data]="invoicesToBePaid" [columns]="invoiceColumns" [totalCount]="invoicesToBePaid.length"
        (rowClick)="removeInvoiceFromPayment($event)">
      </app-table>
    </div>

    <div class="flex justify-between items-center p-6 gap-3 shadow-md rounded-lg">
      <div class="w-1/5">
        <label class="font-semibold text-sm"></label>
        <app-custom-drop-down label="Método de Pagamento" [options]="paymentMethods"
          (selectionChange)="onPaymentMethodSelected($event)" formControlName="paymentMethod"></app-custom-drop-down>
      </div>

      <div class="flex flex-col">
        <label class="font-semibold text-sm">Valor Pago</label>
        <input type="text" formControlName="amount" #amount (input)="onNumberInputChange(amount)"
          class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />

      </div>

      <div class="flex flex-col ">
        <label class="font-semibold text-sm">Valor a Pagar</label>
        <span class="font-bold">{{ formatCurrency(outstandingAmount) }}</span>
      </div>

      <div class="flex flex-col pr-6">
        <label class="font-semibold text-sm">Saldo</label>
        <span class="font-bold">{{ formatCurrency(customerBalance) }}</span>
      </div>
    </div>

    <div class="w-full flex justify-end px-4" *ngIf="form.valid">
      <button (click)="onSubmit()" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
        Carregar Pagamento
      </button>
    </div>
  </div>
</div>