<div class="flex flex-row h-screen w-screen overflow-hidden bg-gradient-to-br from-slate-50 to-slate-100 dark:from-slate-900 dark:to-slate-800 transition duration-300">
    <div [class]="{'fixed inset-0 z-50 bg-light-mode dark:bg-deep-dark transition duration-300': isSidebarOpen, 'hidden': !isSidebarOpen}" 
         class="md:block w-64 h-screen transition duration-300">
        <app-side-bar [isSidebarOpen]="isSidebarOpen" (sidebarToggle)="toggleSidebar()" [logo]="currentLogo"></app-side-bar>
    </div>
    <div class="flex flex-col h-full w-full"> 
        <div>
            <app-navbar (sidebarToggle)="toggleSidebar()" (modeToggle)="onModeToggle($event)"></app-navbar>
        </div>
        <div class="h-full pb-4 overflow-auto">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>
