<div class="flex flex-col gap-4 p-4 dark:bg-medium-dark dark:text-primary-dark-text transition duration-300">
    <app-breadcrumb title="Registar Novo Corte" [breadcrumbItems]="['Dashboard', 'Registar Corte']"></app-breadcrumb>

    <div class="bg-light-mode dark:bg-deep-dark w-full min-h-[40vh] h-full rounded-lg shadow-md p-4">
        <ng-container *ngIf="(isZonesLoading$ | async) || (isEnterprisesLoading$ | async) || (isClientLoading$ | async) ||  (isMeterLoading$ | async)">
            <div class="flex flex-col justify-center my-4 gap-1">
              <app-loading-spinner></app-loading-spinner>
              <span class="flex justify-center text-sm">
                
                  Carregando dados
                
              </span>
            </div>
          </ng-container>

        <form [formGroup]="registCutForm" class=" py-4 dark:bg-deep-dark ">

            <div class="flex flex-col md:flex-row w-full p-4 gap-4 items-center ">
                <div class="w-full">
                    <app-autocomplete-input label="Empresa" [dataSource]="enterpriseData"
                        (valueSelected)="onValueSelected($event)">
                    </app-autocomplete-input>
                </div>

                <div class="w-full">
                    <app-autocomplete-input label="Zona" [dataSource]="zoneData"
                        (valueSelected)="onEnterpriseSelect($event)">
                    </app-autocomplete-input>
                </div>
                <div class="w-full">
                    <app-autocomplete-input label="Cliente" [dataSource]="clientData" (valueSelected)="onClientSelect($event)">
                    </app-autocomplete-input>
                </div>
            </div>
            <div class="flex flex-col md:flex-row w-full p-4 gap-4 items-center ">

                <div class="w-full">
                    <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Data Início</label>
                    <app-date-picker formControlName="startDate"></app-date-picker>
                </div>
                 
                <div class="w-full">
                    <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Contador</label>
                    <app-autocomplete-input
                        [dataSource]="clientMetersData"
                        [placeholder]="counter"
                    (valueSelected)="onMeterSeclected($event)"> 
                    </app-autocomplete-input>
                </div>
            </div>

        </form>

        <div class="w-full flex items-center justify-end p-4">
            <button (click)="saveCut()"
                class="w-full md:w-1/4 bg-blue-600 py-2 text-light-mode rounded-full sm:rounded-lg">Submeter</button>
        </div>
    </div>
</div>