<div class="flex flex-col gap-4 p-4 dark:bg-medium-dark dark:text-primary-dark-text transition duration-300">
    <app-breadcrumb title="Lista de Cortes" [breadcrumbItems]="['Dashboard', 'Listar Cortes']"></app-breadcrumb>
    
    <!-- Loading Spinner -->
    <ng-container *ngIf="(isCutsLoading$ | async) || (isCutSaving$ | async)">
        <div class="flex flex-col justify-center my-4 gap-1">
          <app-loading-spinner></app-loading-spinner>
          <span class="flex justify-center text-sm">
            <ng-container *ngIf="(isCutSaving$ | async); else loadingData">
              Salvando o corte
            </ng-container>
            <ng-template #loadingData>
              Carregando dados
            </ng-template>
          </span>
        </div>
    </ng-container>

    <!-- Form for Editing or Adding a Cut -->
    <div *ngIf="isEditing" class="py-4 dark:bg-deep-dark w-full mt-4">
        <form [formGroup]="cutForm" class="p-4">
             
            <div class="flex flex-col sm:grid sm:grid-cols-3 w-full gap-4 items-center">
                <div class="w-full">
                    <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">ID do Corte</label>
                    <input formControlName="cutsId" class="text-gray-900 bg-gray-300 dark:bg-gray-400 text-sm rounded-lg block w-full p-2.5 pr-10" />
                </div>

                <div class="w-full">
                    <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Data de Início</label>
                    <input type="date" formControlName="startDate" class="text-gray-900 bg-gray-300 dark:bg-gray-400 text-sm rounded-lg block w-full p-2.5 pr-10" />
                </div>
 
            </div>

            <div class="flex flex-col sm:grid sm:grid-cols-3 w-full gap-4 items-center">
                <div class="w-full">
                    <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Contador</label>
                    <input formControlName="meterId" class="text-gray-900 bg-gray-300 dark:bg-gray-400 text-sm rounded-lg block w-full p-2.5 pr-10" />
                </div>
            </div>

        </form>
        <div class="flex mt-4 p-6">
            <button
                type="button"
                (click)="submitForm()" 
                class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 disabled:opacity-50 cursor-pointer">
                Atualizar Corte
            </button>
        </div>
    </div>

    <!-- Table for Displaying Cuts List -->
    <div class="bg-light-mode dark:bg-deep-dark w-full h-full rounded-md p-6">
        <h2 class="text-lg font-semibold mb-4">Lista de Cortes</h2>
        <div *ngIf="cutsData.length > 0" class="grid grid-cols-2 px-6  w-full">

            <app-search-input  (searchChange)="filterCuts($event)"></app-search-input>
        </div>

        <div class="bg-light-mode dark:bg-deep-dark w-full h-full rounded-md shadow-md">
            <ng-container *ngIf="cutsList.length > 0; else noData">
                <app-table
                    [data]="filteredCuts"
                    [columns]="cutColumns"
                    [totalCount]="filteredCuts.length"
                    (rowClick)="editCut($event)">
                </app-table>
            </ng-container>
            <ng-template #noData>
                <div class="text-center p-4">Nenhum corte disponível</div>
            </ng-template>
        </div>
    </div>
</div>
