<div class="flex flex-col gap-4 p-4 dark:bg-medium-dark dark:text-primary-dark-text transition duration-300">
  <app-breadcrumb title="Registar Nova Leitura" [breadcrumbItems]="['Dashboard', 'Registar Leitura']"></app-breadcrumb>

  <div class="bg-light-mode dark:bg-deep-dark w-full min-h-[60vh] h-full rounded-lg shadow-md p-4">
    <ng-container *ngIf="(isZonesLoading$ | async) || (isEnterprisesLoading$ | async) || (isClientLoading$ | async) || (isReadingSaving$ | async)  || (isMeterLoading$ | async)">
      <div class="flex flex-col justify-center my-4 gap-1">
        <app-loading-spinner></app-loading-spinner>
        <span class="flex justify-center text-sm">
          <ng-container *ngIf="(isReadingSaving$ | async); else loadingData">
            Salvando a leitura
          </ng-container>
          <ng-template #loadingData>
            Carregando dados
          </ng-template>
        </span>
      </div>
    </ng-container>

    <form [formGroup]="registReadingForm" class=" py-4 dark:bg-deep-dark ">

      <div class="flex flex-col sm:flex-row w-full p-4 gap-4 items-center ">
        <div class="w-full">
          <app-custom-select  label="Empresa" [options]="enterpriseData"
            (selectedValueChange)="onValueSelected($event)">
          </app-custom-select>
        </div>

        <div class="w-full">
          <app-custom-select label="Zona" [options]="zoneData"
            (selectedValueChange)="onEnterpriseSelect($event)">
          </app-custom-select>
        </div>
        <div class="w-full">
          <app-custom-select label="Cliente" [options]="clientData"
            (selectedValueChange)="onClientSelect($event)">
          </app-custom-select>
        </div>
      </div>


      <div class="flex flex-col sm:grid sm:grid-cols-3 w-full p-4 gap-4 items-center">

         

        <div class="w-full">
          <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Ano Económico</label>
          <span
            class=" text-gray-900 bg-gray-300 dark:bg-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10">{{getCurrentYear()}}
          </span>
        </div>

        <div class="w-full">
          <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Contador</label>
          <app-custom-drop-down
              [options]="clientMetersData"
          (selectionChange)="onMeterSeclected($event)"> 
          </app-custom-drop-down>
      </div>

        <div class="w-full">
          <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Leitura Anterior</label>
          <span
            class=" text-gray-900 bg-gray-300 dark:bg-gray-400 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10">{{lastReading}}
          </span>
        </div>
       
      </div>

      <div class="flex flex-col sm:grid sm:grid-cols-3 w-full p-4 gap-4 items-center">
        <div class="w-full">
          <app-custom-drop-down formControlName="readingMonth" label="Mês" [options]="monthsData"
            (selectionChange)="onMonthSelect($event)">
          </app-custom-drop-down>
        </div>

        <div class="w-full">
          <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">Leitura Actual</label>
          <input type="text" formControlName="currentReading" #currentReading
            (input)="onNumberInputChange(currentReading)"
            class="border border-gray-300 text-gray-900 bg-light-mode dark:bg-slate-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-10 cursor-text" />

        </div>
        
      </div>

    </form>
    
    <div class="w-full flex items-center justify-end p-4">
        <button (click)="saveReading()"
          class="w-full md:w-1/4 bg-blue-600 py-2 text-light-mode rounded-full sm:rounded-lg">Submeter</button>
    </div>
  </div>
  
</div>

<ng-container *ngIf="fileUrl">
  <object [data]="fileUrl" type="application/pdf" width="100%" height="500px">
    Your browser does not support PDFs.
  </object>
</ng-container>