<div class="w-full">
  <label class="block text-sm font-medium text-deep-dark dark:text-light-mode mb-2">{{ label }}</label>
  <div class="relative">
    <div (click)="toggleDropdown()"
      class="flex items-center justify-between  border border-gray-300 text-gray-900 dark:text-light-mode bg-light-mode dark:bg-slate-500  px-4 py-2 rounded-lg cursor-pointer">
      <span>{{ selectedLabel || 'Seleccione ...'}}</span>
      <svg class="fill-current h-8 w-8 rounded-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M5.2 7.2L10 12l4.8-4.8H5.2z" />
      </svg>
    </div>

    <div *ngIf="isOpen" class="absolute mt-1 w-full rounded-xl bg-light-mode dark:bg-slate-500  z-50 shadow-lg">
      <ul class="overflow-auto max-h-32 rounded-xl">
        <li *ngFor="let option of options" (click)="selectOption(option)"
          class="px-4 py-2 hover:bg-deep-dark hover:text-light-mode text-gray-900 dark:text-light-mode cursor-pointer">
          {{ option.label }}
        </li>
      </ul>
    </div>
  </div>
</div>