<div
    class="min-w-full p-4 sm:p-6 bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300 overflow-auto">
    <div class="w-full max-w-7xl mx-auto">

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-6">
            <app-stats label="Total Cortes" [value]="totalCuts" subtext="Actualizado" [icon]="cutIcon"></app-stats>
            <app-stats label="Total Leituras" [value]="totalReadings" subtext="Actualizado"
                [icon]="readingIcon"></app-stats>
            <app-stats label="Total Facturas" [value]="totalInvoices" subtext="Actualizado"
                [icon]="invoiceIcon"></app-stats>
            <app-stats label="Total Clientes" [value]="totalCustomers" subtext="Actualizado"
                [icon]="customerIcon"></app-stats>
        </div>
    </div>

    <div class="bg-white dark:bg-gray-800 rounded-xl p-4 mt-8 shadow-md hover:shadow-xl">
        <!-- Skeleton Loader enquanto chartOptions é null -->

        <div *ngIf="!chartOptions" class="space-y-4">
            <app-skeleton lineHeight="24px" lineWidth="30%"></app-skeleton>
            <app-skeleton lineHeight="12rem" lineWidth="100%"></app-skeleton>
        </div>

        <!-- Gráfico renderizado quando chartOptions estiver pronto -->
        <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
            [title]="chartOptions.title" [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels">
        </apx-chart>
    </div>
</div>